mule3to4/apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="helloFlow" doc:id="8eb63ff6-78df-4403-a751-f0e5a4d19628" >
		<http:listener doc:name="GET /hello" doc:id="296cfb7c-bc49-49e8-a2fb-e714bfa89503" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="24c87ae6-dbe0-43e7-9ab7-85d6fe0b63fe" name="subflow"/>
		<vm:publish doc:name="VM goodbye" doc:id="ce6ed573-ebe4-41c9-903a-20769ecacc60" config-ref="VM_Config" queueName="goodbye"/>
		<logger level="INFO" doc:name="Logger" doc:id="40f8861a-f5b1-4700-b43b-141429d676b9" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="aa712183-4e36-45c8-8461-31fa39406bb5">
		<vm:listener queueName="goodbye" doc:name="Listener" doc:id="26b3226d-3811-4025-9255-bfdf414a0d27" config-ref="VM_Config" timeoutUnit="MINUTES"/>
		<http:request method="GET" doc:name="GET /goodbye" doc:id="2baf8aae-1480-4aa7-9472-3896be2997f4" path="/goodbye" config-ref="HTTP_Request_configuration" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : vars.firstName
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subflow" doc:id="f2942fcc-8290-4f32-ab6a-ea03a4679e80" >
		<set-variable value="#[attributes.queryParams.fname]" doc:name="firstName" doc:id="fd1386fc-ef38-4cb0-b36c-fc6b8948de9a" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="f5f15934-fdba-4346-911b-13c60b9ccef2" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="c8028edc-299e-48dd-a0df-283d6667c1f4" >
		<http:listener doc:name="GET /goodbye" doc:id="e6fa4cc6-81b5-41e7-8950-2c5b24e7581f" config-ref="HTTP_Listener_config" path="/goodbye" allowedMethods="GET"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="a98d6832-b39a-4698-bebf-1364a10db8db" />
		<logger level="INFO" doc:name="fullName" doc:id="c6c68635-1f2f-460b-8cd5-3a22dfe8474d" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
